.vscode
backend/venv
backend/*/migrations/*
!backend/*/migrations/__init__.py
backend/*/__pycache__/
backend/db.sqlite3
backend/.ipynb_checkpoints/
backend/meida/*
!backend/media/.gitkeep
*.ipynb
.env